{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-istanbul",
        "babel-plugin-espower"
      ]
    }
  }
}
